{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center mb-0">
        <h1>Camping *** l'Espadrille Volante</h1>
    </div>
    <div class="row">
        {{ include('home/_menu.html.twig') }}
    </div>

    <div class="container">
        <div>
            <div class="mt-5">
                <h2 class="mb-5">Nos locations</h2>
            </div>
            {% for key, renting_type in renting_types %}
                <div class="mt-5">
                    <h3 class="m-5">{{ renting_type.label }}</h3>
                    <div class="text-center m-5">
                        <img src="{{ vich_uploader_asset( images_files[key], 'imageFileRentingTypes' ) }}" alt="">
                    </div>
                    <div class="m-3">
                        {{ renting_type.description }}
                    </div>
                    <div class="mb-3">
                        {% for season in seasons %}
                            <p>
                                Du {{ season.startDate|date('d/m/Y') }} au {{ season.endDate|date('d/m/Y') }} : {{ renting_type.price + ( renting_type.price * season.percent / 100 ) }} € par jour ({{ season.label }})
                            </p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}